@import url(../../../stylesheets/application.css);

body{ color:#303030; background:#e8eaec; }

#wrapper2 {
    min-height: 100vh;
    position: relative;
}

#wrapper3 {
    padding-bottom: 23px;
}

#login-form {
    background-color: #EEEEEE;
    border-color: #DEDEDE;
}

#banner {
    margin: 15px;
    height: 70px;
    background-image: url(../images/hexack.logo.389x68.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
}

@media all and (max-width: 599px) {
    #banner {
        display: none;
    }

}

@media all and (max-width: 899px) {
    #banner {
        display: none;
    }

}

#top-menu { font-size: 80%; height: 2em; padding-top: 0.5em; }
#top-menu a { font-weight: bold; }
#wrapper #header {
    background: #124152;
}

#header {
    height: 8.5em;
    padding: 10px 0 0 0;}
    #header h1 {
        margin-left: 6px;}

#quick-search {
    margin-right: 6px;
    margin-top: 12px;
}
#main-menu,
#top-menu,
#footer,
#main-menu li a {
    background-color: #246076;}
    #main-menu li a:hover,
    #main-menu li a.selected,
    #main-menu li a.selected:hover,
    #main-menu li a.new-object {
        background-color: #2c99c1;}

#main-menu { left: 0; border-top: 1px solid #fff; width: 100%; }
#main-menu li { margin: 0; padding: 0; }
#main-menu li a {
    font-size: 90%;
    padding: 12px 12px 12px 12px;
    font-weight: bold;
}
#main-menu li a:hover { color: #ffffff; }
#main-menu li a.selected, #main-menu li a.selected:hover { color: #ffffff; }

#main-menu .menu-children {
  border-right: 1px solid #80b0da;
  border-bottom: 1px solid #80b0da;
  border-left: 1px solid #80b0da;
}
#main-menu .menu-children li a { border-right: none; }
#main-menu .menu-children li a:hover { background-color: #80b0da }

div.issue {
    background: #ffffe6;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    border: 0;
    color: #fff;
}
#footer a { color: #fff; font-weight: bold; }

#main { font:90% Verdana,Tahoma,Arial,sans-serif; background: #e8eaec; }
#main a { font-weight: bold; color: #467aa7;}
#main a:hover { color: #2a5a8a; text-decoration: underline; }
#content {
    min-height: auto !important;
    background: #fff;
}
#content .tabs ul { bottom:-1px; }

h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 { border-bottom: 0px; color:#606060; font-family: Trebuchet MS,Georgia,"Times New Roman",serif; }
h2, .wiki h1 { letter-spacing:-1px; }
h4 { border-bottom: dotted 1px #c0c0c0; }

#top-menu a.home, #top-menu a.my-page, #top-menu a.projects, #top-menu a.administration, #top-menu a.help { 
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}

#top-menu a.home { background-image: url(../images/home.png); }
#top-menu a.my-page { background-image: url(../../../images/user.png); }
#top-menu a.projects { background-image: url(../../../images/projects.png); }
#top-menu a.administration { background-image: url(../images/wrench.png); }
#top-menu a.help { background-image: url(../../../images/help.png); }

#projects-index {
    column-width: auto;}
    #projects-index ul.projects li.root {
        margin-bottom: 2em;}
